actionlib==1.14.0
angles==1.9.13
bcrypt==4.0.1
blinker==1.6.3
bondpy==1.8.6
camera-calibration==1.17.0
camera-calibration-parsers==1.12.0
catkin==0.8.10
click==8.1.7
controller-manager==0.19.6
controller-manager-msgs==0.19.6
cv-bridge==1.16.2
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
dnspython==2.4.2
dynamic-reconfigure==1.7.3
eventlet==0.33.3
flask==3.0.0
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.5.3
Flask-Login==0.6.2
flask-sqlalchemy==3.1.1
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
greenlet==3.0.0
gunicorn==21.2.0
image-geometry==1.16.2
importlib-metadata==6.8.0
interactive-markers==1.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
packaging==23.2
psycopg2==2.9.9
PyJWT==2.8.0
python-qt-binding==0.4.4
six==1.16.0
smach==2.5.2
smach-ros==2.5.2
smclib==1.8.6
SQLAlchemy==2.0.21
topic-tools==1.16.0
typing-extensions==4.8.0
Werkzeug==2.3.0
zipp==3.17.0
